@using YummyApp.Models
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Manage Editors";
}

<h2>Manage Editors</h2>

<table class="table table-striped" id="editors">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Editor UserName</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ApplicationUser u in Model)
        {

            <tr>
                <th scope="row">@u.Id</th>
                <td>@u.UserName</td>

                <td>
                    @Html.ActionLink("See posts", "ListEditorPosts", "Account", new { Id = u.Id }, new { @class = "btn btn-info" })
                    @*@Html.ActionLink("Remove editor", "RemoveEditorRole", "Account", new { Id = u.Id }, new { @class = "btn btn-danger" })*@
                    <button class="btn btn-danger m-1 js-delete" editor-id="@u.Id">Remove Editor</button>

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{


    <script>
        $(document).ready(function () {
            var table = $("#editors").DataTable();
            $("#editors tbody").on("click", ".js-delete",function () {
                var button = $(this);
                bootbox.confirm("Do you want to delete this editor?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Account/RemoveEditorRole/" + button.attr("editor-id"),
                            method: "POST",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>

}