
@{
    ViewBag.Title = "SiteSettings";
}
<link href="~/Content/page_style.css" rel="stylesheet" />
<h1>Site Settings</h1>
<div class="mt-5 container">
    @if (User.IsInRole("Admin"))
    {<div class="row my-3">
        <h3>Manage Users</h3>
    </div>
    <div class="row card-deck">
        <div class="custom-card card border-dark mb-3" id="addUserToRole" style="max-width: 18rem;">
            <a class="text-reset text-decoration-none" href="@Url.Action("AddUserToRole", "Account")">
                <div class="card-header font-weight-bold">Manage Users</div>
                <div class="card-body text-dark">

                    <h5 class="card-title font-weight-bold">Add User to Role</h5>
                    <p class="card-text">Change and add roles to users. Possible roles: Admin, Editor and StandardUser</p>
                </div>
            </a>
        </div>
        <div class="custom-card card border-dark mb-3" id="manageEditors" style="max-width: 18rem;">
            <a class="text-reset text-decoration-none" href="@Url.Action("ManageEditors", "Account")">
                <div class="card-header font-weight-bold">Manage Users</div>
                <div class="card-body text-dark">
                    <h5 class="card-title font-weight-bold">Manage Editors</h5>
                    <p class="card-text">See statistics for the work of the editors</p>
                </div>
            </a>
        </div>
    </div>}
    <div class="row my-3">
        <h3>Manage Recipes</h3>
    </div>
    <div class="row card-deck">
        <a class="text-reset text-decoration-none" href="@Url.Action("ListRecipes","Account")">

            <div class="custom-card card border-dark mb-3" id="listRecipes" style="max-width: 18rem;">
                <div class="card-header font-weight-bold">Manage Recipes</div>
                <div class="card-body text-dark">
                    <h5 class="card-title font-weight-bold">List of Recipes</h5>
                    <p class="card-text">List all the posted recipes, see details, remove or edit them.</p>
                </div>
            </div>
        </a>
    </div>
</div>