@using YummyApp.Models
@model IEnumerable<Recipe>

@{
    ViewBag.Title = "Yummy Recipes";
}

<div class="row row-cols-2 row-cols-md-3">
    <!--<div class="card-columns">-->
    @foreach (Recipe r in Model)
    {
        <div class="col mb-4 ">
            <div class="card h-100" style="width: 18rem;">
                <img src="~/Images/no-image.bmp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>@r.Title</h3>
                    <p class="card-text">@r.Description</p>
                </div>
            </div>
        </div>
    }
</div>


